@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
}

.toggle-container {
	width: 55px;
	height: 25px;
	background-color: rgb(172, 174, 196);
	border-radius: 15px;
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
	height: 25px;
}

.sun {
	height: 20px;
	width: 20px;
}

.toggle-btn {
	background-color: cadetblue;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	position: absolute;
	top: 3%;
	cursor: pointer;
}
